<% provide :title, t(".heading") %>
<h1><%= t(".heading") %></h1>
<p>
  <%= t(".intro") %>
  <%= link_to t(".page_name"), Settings.url.rails_help_url %>
  <%= t(".book_page") %>
  <%= link_to t(".tutor"),Settings.url.rails_book_url %>
  <%= t(".book") %></a>.
</p>
